{% extends 'dashboard/layouts/base.html' %}
{% load crispy_forms_tags %} 

{% block content %}

       

    <div class="container-fluid mt--7">

      <div class="row">
        <div class="col-md-12">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">{{dash_title}}</h3>
                </div>
                <!-- <div class="col-4 text-right">
                  <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                </div> -->
              </div>
            </div>
            <div class="card-body">
              <form method="POST">
                {% csrf_token %}
                  <div class="row">
                    {% for field in form %}
                        <div class="col-lg-6">
                            {{ field|as_crispy_field }}
                        </div>
                    {% endfor %}
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Edit</button>
                </div>

                    </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
