{% load static %}
  <!--   Core   -->
  <script src="/static/assets/js/plugins/jquery/dist/jquery.min.js"></script>
  <script src="/static/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!--   Optional JS   -->
  <script src="/static/assets/js/plugins/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/js/plugins/chart.js/dist/Chart.extension.js"></script>


  <script src="{% static 'assets/js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/datatables/responsive.bootstrap4.min.js' %}"></script>
        
    <script src="{% static 'assets/js/plugins/datatables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/datatables/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/datatables/buttons.html5.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/datatables/buttons.flash.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/datatables/buttons.print.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/datatables/buttons.pdfmake.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/datatables/vfs_fonts.js' %}"></script>
    <script src="{% static 'assets/js/plugins/datatables/jszip.min.js' %}"></script>

    <script src="{% static 'assets/js/plugins/datatables/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/datatables/dataTables.select.min.js' %}"></script>

    <script src="{% static 'assets/js/datatables.init.js' %}"></script> 
    
  <!--   G.Maps   -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

  <!--   Argon JS   -->
  <script src="/static/assets/js/argon-dashboard.min.js?v=1.1.0"></script>

  